[Unit]
Description=Serial LED matrix driver
           
[Service]
Type=simple
ExecStart=/usr/bin/python /root/serialed/serialed.py
Restart=always
           
[Install]
WantedBy=default.target
